[submodule "kenya_project/django_eav"]
	path = kenya_project/django_eav
	url = git://github.com/unicefuganda/django-eav
[submodule "kenya_project/rapidsms_auth"]
	path = kenya_project/rapidsms_auth
	url = git://github.com/unicefuganda/rapidsms-auth
[submodule "kenya_project/rapidsms_contact"]
	path = kenya_project/rapidsms_contact
	url = git://github.com/unicefuganda/rapidsms-contact
[submodule "kenya_project/rapidsms_generic"]
	path = kenya_project/rapidsms_generic
	url = git://github.com/unicefuganda/rapidsms-generic
[submodule "kenya_project/rapidsms_healthmodels"]
	path = kenya_project/rapidsms_healthmodels
	url = git://github.com/unicefuganda/rapidsms-healthmodels
[submodule "kenya_project/rapidsms_httprouter_src"]
	path = kenya_project/rapidsms_httprouter_src
	url = git://github.com/unicefuganda/rapidsms-httprouter
[submodule "kenya_project/rapidsms_polls"]
	path = kenya_project/rapidsms_polls
	url = git://github.com/unicefuganda/rapidsms-polls
[submodule "kenya_project/rapidsms_script"]
	path = kenya_project/rapidsms_script
	url = git://github.com/unicefuganda/rapidsms-script
[submodule "kenya_project/rapidsms_uganda_common"]
	path = kenya_project/rapidsms_uganda_common
	url = git://github.com/unicefuganda/rapidsms-uganda-common
[submodule "kenya_project/rapidsms_unregister"]
	path = kenya_project/rapidsms_unregister
	url = git://github.com/unicefuganda/rapidsms-unregister
[submodule "kenya_project/rapidsms_ureport"]
	path = kenya_project/rapidsms_ureport
	url = git://github.com/unicefuganda/rapidsms-ureport
[submodule "kenya_project/rapidsms_xforms_src"]
	path = kenya_project/rapidsms_xforms_src
	url = git://github.com/unicefuganda/rapidsms-xforms
[submodule "kenya_project/rapidsms"]
	path = kenya_project/rapidsms
	url = git://github.com/unicefuganda/rapidsms
